@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --error: #e7185a;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
.entry {
    padding: 0;
    margin: 0;
    justify-content: space-around;
    border-bottom: 10px;
    position: relative;
}
.entry .title {
    display: inline-block;
    margin-left: 150px;
    margin-top: 20px;
    font-size: 50px;
}
.entry form {
    padding: 10px;
}
.entry label {
    padding-bottom: 1px;
    float: left;
    font-size: 20px;
}
.entry textarea {
    width: 100%;
    padding: 6px 8px;
    margin: 10px 0;
    border: 2px solid #0eaab3;
    box-sizing: border-box;
    display: inline-block;
    overflow-y: scroll;
    resize: none;
    font-size: 16px;
}
.entry input {
    width: 100%;
    font-size: 16px;
    padding: 6px 10px;
    margin: 10px 0;
    border: 2px solid #0eaab3;
    box-sizing: border-box;
    display: inline-block;
}
.entry p {
    float: right;
    margin-right: 10px;
}
.entry .date {
    font-size: 20px;
    float: right;
    padding: 16px;
}

input.error {
    border: 1px solid var(--error);
}

textarea.error {
    border: 1px solid var(--error);
}